{% extends "base_generic.html" %}

{% block title %}<title>Библиотека  Ватикана</title>{% endblock %}

{% block content %}
<h1>Библиотека</h1>

<font size="5">Поик книги по автору:</font>
<form action="{% url 'books' %}" method="get">
<input name="q" type="text" placeholder="Search...">
<button type="submit">Найти</button>
</form>

  {% if object_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><font size=5>№</font></th>
        <th scope="col"><font size=5>Название</font></th>
        <th scope="col"><font size=5>Автор</font></th>
        <th scope="col"><font size=5>Количество</font></th>
      </tr>
    </thead>
    <tbody>
      {% for book in object_list %}
        <tr>
          <th scope="row"><font size=4>{{ forloop.counter }}</font></th>
          <td><font size=5>{{ book.name }}</font></td>
          <td><font size=5>{{ book.author }}</font></td>
          <td><font size=5>{{ book.quantity }} шт.</font></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Пока в библиотеке нет книг.</p>
  {% endif %}
{% endblock %}