{% extends "base_generic.html" %}

{% block title %}<title>Библиотека  Ватикана</title>{% endblock %}

{% block content %}

    <font size="5">Поик книги по автору:</font>
    <form action="{% url 'books' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
    </form>

<h1>Библиотека</h1>

  {% if object_list %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Название</th>
        <th scope="col">Автор</th>
        <th scope="col">Количество</th>
      </tr>
    </thead>
    <tbody>
      {% for book in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ book.name }}</td>
          <td>{{ book.author }}</td>
          <td>{{ book.quantity }} шт.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>Пока в библиотеке нет книг.</p>
  {% endif %}
{% endblock %}