{% extends "base_generic.html" %}

{% block content %}
    <h1>Список книг</h1>

    <form action="{% url 'search_results' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
    </form>

    {% if bookinstance_list %}
    <ol>

      {% for book in bookinstance_list %}
      <li>
        <h4>{{ book.name }} ({{book.author}}) - {{book.quantity}} шт.</h4>
      </li>
      {% endfor %}

    </ol>
    {% else %}
      <p>Пока в библиотеке нет книг.</p>
    {% endif %}
{% endblock %}